body {
    margin: 0;
}

section.header {
   height: 400px;
   width: 100%;
   background-color: lightblue; 
   /* opacity: 0.6;  */
}

section.header .logo {
    background: url(../img/mainimage.jpeg);
    padding: 110px 110px;
    color: #ffffff;
    opacity: 0.8;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
}

.header .title {
    color: black;
    margin: -60px 0 80px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.header .content a  {
    color: black;
    text-decoration: none;
}

.header .header-container a img {
    width: 200px;
    height: 90px;
    margin: -40px 10px 0 100px ;
    text-align: center;
}

.header .container a img:first-child {
    width: 200px;
    height: 40px;
    margin: -40px 10px 0 170px ;
}

.header .note {
    margin-top: 30px;
    text-align: center;
    color: white;
}
/*section service*/
section.service {
    width: 100%;
    height: auto;
    background-color: #2f2d2d;
    display: flex;
    margin-bottom: 10px;
}

section.service .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0;
    background-color: #373635;
    
}

.item1 {
    border: 2px solid black;
    width: 32%;
    background: url(../img/Violin.png) no-repeat  center;

}


 .item1 h2.white, p.white {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
} 

.item1 h2.white {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
    font-size: 18px;

} 
.item1 p.white {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
    font-size: 13px;
    line-height: 2em;
}


 .item2 {
    border: 2px solid black;
    width: 32%;
    background: url(../img/Violin1.png) no-repeat center;
} 

 .item2 h2, p {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
}  

 .item2 h2.white {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
    font-size: 18px;
} 

 .item2 p.white {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
    font-size: 13px;
    line-height: 2em;
} 

.item3 {
    border: 2px solid black;
    width: 32%;
    background: url(../img/Violin2.png) no-repeat center;
}

/* .item3 h2, p {
    
} */

.item3 h2.white  {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
}

.item3 p.white  {
    color: white;
    font-weight: bold;
    text-align: left;
    margin: 20px 20px;
    font-size: 13px;
    line-height: 2em;
}


/*section price*/

section.price {
    width: 960px;
    height: 500px;
    /* background-color: lightgreen; */
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
   /* margin-block-end: 0; */

}

.container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.container .itemprice {
   float: left;
}

.container .wrap img {
    border-radius: 50%;
    margin: 0 auto;
}
section.price .wrap .first {
    float: left;
    padding: 5px;
    border: 1px solid #ee835e;
    background-color: #ee835e;
    display: inline-block;
    border-radius: 2px;
    /* position: absolute; */
    color: white;
    margin:-20px -110px 20px 0; 
}
section.price .bouquet_price p.large {
    font-size: 18px;
}

section.price .bouquet_price span {
    font-size: 10px ;
}

section.price p {
    text-align: center;
    line-height: 1em;
} 
.itemprice {
    background-color: green;
    display: flex;
    flex: 1;
    width: 50%;
}

 .itemfrequency {
    /* width: 600px; */
    height: 500px; 
    background-color: white; 
    /* margin-left: 485px;
    float: left; */
    display: flex;
    flex: 1;
    width: 50%;
}
.itemfrequency > h2 {
    line-height: 2em;
}
section.price .itemfrequency a img{
    /* background: url(../img/calender2.png); */
    margin: 70px 100px 20px 150px;
} 

/*section flower*/
section.flower {
    width: 100%;
    height: 400px;
     background: url(../img/scene.png);
     display: flex;
      justify-content: space-around;
     align-items: space-around;
     position: relative; 
} 

section.flower .item img {
  background: url(../img/scene.png); 
  
} 

section.flower .item title {
    /* margin: 60px 100px 60px 100px; */
    /* height: auto;
    position: absolute
    ;     */
     display: flex;
    position: absolute;
    flex-wrap: wrap; 
}

 section.flower .item title h3 {
    text-align: center;
    /* display: flex; */
} 

section.flower .item body  {
     display: flex;
     /* position: absolute;   */
    /* align-items: stretch; */
} 

section.flower h3.white2 {
    color: white;
    /* text-align: center;  */
    display: flex;
    /* position: absolute;  
    top: 4px; */
    /* left: 0; */
    line-height: 2em;
     
}

section.flower p.white2 {
    color: white;
    /* text-align: left; */
    display: flex; 
    line-height: 2em;
    
}

.item-title {
  margin-left: 200px;
}

/* .item body {

} */
/*section vase*/
section.vase {
width: 1395px;
height: 300px;
background: url(../img/flower_scene.png);
}
/* .item title {

} */

.item title {
    margin-top: 20px;
} 

section.vase h3 {
    text-align: left;
    color: white;
    /* margin: 100px 100px; */
    letter-spacing: 1.0em;
    position: relative;
}
section.vase .discount span {
  border: 1px solid white;
  background-color: white;
  display: inline-block;
  font-weight: normal;
  margin-top: -80px;
  
}

/* section.vase .item_body p {
 
 
} */

/* section.vase .item body .vase_variation {

} */

/* .vase_variation .item_bell {

} */
/* .vase_variation .item_moon {

} */
/* .vase_variation .item_candle {

} */

/* section.vase .price {

} */

section.vase .price .title {
   border: 1px solid black;
   width: auto;
   height: 45px;
   padding: 5px;
   display: inline-block;
}

/* section.vase .price .content {

} */

.content .discount_price {
  float: left; 
}

.content .normal_price {
     float: left; 
}
.content .footnote {
    float: both; 
}

/*section service2*/
section.service2 {
    width: 100%;
    height: 250px;
    background-color: blue;
}

section.service2 {
    text-align: center;
}

 .seritm1 {
    margin-bottom: 50px;
    width: 33%;
    
}
 .seritm2 {
    
    width: 33%;
   
}
 .seritm3 {

    width: 33%;
    
}

/* section.service2 .seritm1 img {
     margin: 0 40px; 
} */

/*download2*/
.download2 {
    width: 100%;
    height: 100px;
    background: url(../img/footer_scene.png);
    position: relative;
} 

.item_logo h3.logo {
    position: absolute;
    
}

/*footer*/
footer {
  background-color: #4e4c4c;
  height: 70px;
  width: 100%;
}
footer ul li {
    /* text-decoration: none; */
    list-style: none;
    float: left;
    padding-left: 50px;
    margin: 20px 0;
}

footer ul li:last-child {
    padding-left: 110px;
    
}

footer ul li a {
    text-decoration: none; 
    color: white;
    font-weight: bold;
}

@media (min-width: 600px){
    .service-container {
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-between;
        flex-wrap: wrap;
        max-height: 800px;
    } 
    section.header {
        display: flex;
        
    }

    section.header .logo { 
        max-width: 100%;

    }

    .header-container a img {
        flex: 1;
    }

    .item1 {
        /* flex: 1; */
        width: 33%;
    }
    .item2 {
        /* flex: 1; */
        width: 33%;
    }
    .item3 {
        /* flex: 1; */
        width: 33%;
    }
}

@media (min-width: 800px) {
    section {
      width: 800px;
      margin: 0 auto;
    }
    aside {
      display: block;
    }
  }


